.footer{
    margin: 1p0x 0px;
    width: 100%;
    display: flex;
    // justify-content: space-;
    .col{
        text-align: start;
        padding: 15px;
        margin: 2px 5px;
        font-size: 12px;
        .title{
            font-size: 15px;
            font-weight: bold;
            padding: 5px;
        }
        .content{
            padding: 0px 10px;

            .Con-Sec{
                margin-top: 6px;
                // text-align: center;

                svg{
                    font-size: 15px;
                    margin: 0px 5px;
                }
            }
            
            ul{
                list-style: none;
                padding: 0px;
                margin: 0;
                li{
                    margin: 3px 0px;
                }
            }
        }
    }
    
}